@media only screen and (max-width: 1199px) {
    .sidebar-container {
        position: initial !important;
        overflow-x: auto;
        max-height: 140px;
    }
    .post-form {
        text-align: left;
    }
    .result-container {
        display: inline-block;
        margin-right: 20px;
    }
    .thumbnail {
        max-height: 120px;
    }
    #result {
        overflow-y: unset !important;
    }
}

.sidebar {
    background-color: rgb(49, 49, 49);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
    position: relative;
}

.sidebar-container {
    width: inherit;
    position: fixed;
}

.thumbnail {
    width: 100%;
    margin: 5px;
    border: 1px gray solid;
}

#result {
    margin-top: 10px;
    border-top: 1px gray solid;
    max-height: 800px;
}

#files {
    width: 160px;
}

.fixed-wrapper {
    position: absolute;
}

​.parent {
    position: relative;
}

.fixed {
    position: fixed;
}

.isdragged {
    position: absolute;
    transition: width 2s;
}