@media only screen and (max-width: 900px) {
    #edit,
    #output {
        overflow-x: scroll;
    }
}

html {
    background-color: rgb(43, 43, 43);
}

body {
    color: white !important;
}

h2 {
    font-size: 45px !important;
    text-decoration: none !important;
}

table,
td {
    border: 1px solid rgb(141, 141, 141) !important;
    padding: 12px;
}

canvas {
    border: 2px dotted rgb(87, 128, 81) !important;
}

input[type='file'] {
    color: transparent;
}

#edit {
    margin-top: 20px;
    background-color: #212529;
}

#Container {
    width: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 14px;
}

#maintable {
    margin: 0 auto;
}

#dyntable {
    padding: 10px;
}

#output {
    padding: 10px;
    background-color: #212529;
}

#text-mapping {
    padding: 10px;
    background-color: #212529;
}

#about {
    border-top: 1px gray solid;
    margin-top: 10px;
    font-size: 20px;
}

.rows {
    display: none;
}

.DONE {
    background-color: green;
}

.container-fluid {
    background-color: rgb(43, 43, 43);
}

.box {
    transition: box-shadow .3s;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 14px;
}

.box:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.726);
}