/*/ HTML elements /*/

@media only screen and (max-width: 889px) {
    #settings {
        width: 140px;
        margin: 0 auto;
    }
    #settings input {
        width: 100%;
        margin: 0 auto;
    }
}

html {
    background-color: rgb(43, 43, 43);
    width: 100%;
    height: 100%;
}

body {
    color: white !important;
}

h2 {
    font-size: 45px !important;
    text-decoration: none !important;
}

table,
td {
    border: 1px solid rgb(141, 141, 141);
    padding: 12px;
}

canvas {
    border: 2px dotted rgb(87, 128, 81) !important;
}

input[type='file'] {
    color: transparent;
}

#edit {
    margin-top: 20px;
    background-color: #212529;
    position: relative;
    overflow: hidden;
}

#Container {
    width: 800px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 14px;
}

#dyntable_container {
    margin: 10px;
}

#dyntable {
    padding: 10px;
    overflow: auto;
    margin: 0 auto;
}

#output {
    padding: 10px;
    background-color: #212529;
}

#text-mapping {
    padding: 10px;
    background-color: #212529;
    overflow-x: auto;
}

#about {
    border-top: 1px gray solid;
    margin-top: 10px;
    font-size: 20px;
}

#ContainerCanvas {
    overflow: auto;
}

.immg-grid {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(7, 104, 7);
    position: relative;
    z-index: 0;
}

.rows {
    display: none;
}

.DONE {
    background-color: green;
}

.container-fluid {
    background-color: rgb(43, 43, 43);
}

.box {
    transition: box-shadow .3s;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin: 14px;
}

.box:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.726);
}

.navbar-dark .navbar-toggler {
    margin-right: 14px;
}

.drop-target {
    border-radius: 50%;
    background-color: rgba(74, 238, 74, 0.068);
    transition: all 0.4s;
    padding: -20px;
}

.can-drop {
    opacity: 0.2;
    transition: opacity 0.4s;
}

.dropzone {
    position: relative;
}

.locks {
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

#result {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    max-width: 100%;
}

#popup {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -150px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: -150px;
    background-image: url("../Images/transparent.jpg");
    transition: transform 0.4s cubic-bezier(0.61, 1, 0.88, 1);
}

#popup_image {
    max-width: 50%;
    height: 100%;
}

#mouse-circle {
    position: absolute;
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -17px;
    border: 3px solid white;
    z-index: 500;
    border-radius: 50%;
    pointer-events: none;
    transition: opacity 0.2s;
    opacity: 0%;
}

#lock-on:hover {
    filter: invert(13%) sepia(90%) saturate(3982%) hue-rotate(356deg) brightness(93%) contrast(94%);
    transition: all 0.4s;
}

#lock-off:hover {
    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
    transition: all 0.4s;
}

#label {
    text-decoration: underline;
    color: rgb(122, 122, 255);
    font-family: monospace;
    font-size: 1em;
}

#label:hover {
    color: rgb(247, 247, 255);
}

#image_controls {
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, 0.75rem);
}